  @font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?trshxe');
    src:  url('../fonts/icomoon.eot?trshxe#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?trshxe') format('truetype'),
      url('../fonts/icomoon.woff?trshxe') format('woff'),
      url('../fonts/icomoon.svg?trshxe#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-x-square:before {
    content: "\e905";
  }
  .icon-x:before {
    content: "\e906";
  }
  .icon-tiktok:before {
    content: "\e900";
  }
  .icon-whatsapp:before {
    content: "\e901";
  }
  .icon-facebook:before {
    content: "\e902";
  }
  .icon-instagram:before {
    content: "\e903";
  }
  .icon-menu:before {
    content: "\e904";
  }
  
  .icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
  .header
  {
    display: flex;
    align-items: center;
    max-width: 1400px;
    max-height: 120px;
    flex-wrap: wrap;
    position: fixed;
    left: 8px;
    right: 8px;
    top: 0px;
    z-index: 4;
    border-radius: 0px 12px 12px 0px;
    justify-content: end;
    backdrop-filter: blur(20px);
  }
  .header-menu
  {
    display: flex;
    max-width: 1959px;
    max-height: 100px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    
  }
  .menu-contenedor
  {
    display: flex;
    align-items: center;
    width: 50%;
    position: fixed;
    left: 3px;
  }
  .navegacion-menu
  {
    object-fit: contain;
  }
  .menu-imagen
  {
    font-size:  1.6em;
    margin: 0px 0px 0px 20px;
    top: 0px;
    z-index: 4;
    color: black;
  }
  .logo-imagen
  {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    height: 100%;
  }
  .logo-imagen picture img
  {
    object-fit: contain;
    height: 100px;
    object-fit: contain;
  
  }
  .header-descripcion span
  {
    font: var(--headline5);
  }

  .navegacio-menu ul
  {
    display:flex;
    flex-direction: column;
    position: fixed;
    font-size: 1.0em;
    top: -24px;
    left: 0px;
    z-index: 2;
    width: 98vw;
    height: 45vh;
    transition: .5s;
    backdrop-filter: blur(50px);
    border-radius: 20px;
  
  }
  .navegacio-menu.deactivate ul
  {
    
    left: -1020vw;
    transition: .5s;
    
  }
  .navegacio-menu ul li
  {
    list-style: none;
    margin: auto;
    
  }
  .navegacio-menu ul li a
  {
    text-decoration: dashed;
    color: black;
  }
  .menu-imagen.active span
  {
    transition: .5s;
    font-size: 1.2em;
  }
  .menu-imagen span
  {
    transition: .5s;
    font-size: 0em;
  }
  .icon-x
  {
    transition: .5s;
    font-size: 1.2em;
  
  }
  .icon-x.active
  {
    transition: .5s;
    font-size: 0em;
  }