@media (max-width: 580px) {
  header .logo {
    width: 20%;
    display: inline-block; }
    header .logo img {
      max-height: 100%;
      max-width: 100%;
      object-fit: contain; }
  header .menu_amburgesa {
    width: 30%;
    display: inline-block;
    text-align: right; }
  header .navbar-collapse {
    transition: all 0.3s ease;
    margin-top: -2%;
    background-color: #ffbba8;
    padding-top: 0%; } }

@media (max-width: 996px) {
  .menu .menu {
    justify-content: end; }
  .padding-top {
    padding-top: 25%; } }

.header {
  background-color: #ffbba8; }

.img-fluid {
  max-width: 50%; }

.jumbotron {
  background-color: #ffbba8;
  padding-top: 10rem; }

.contenido {
  padding: 2%; }

.header {
  background-color: #ffbba8; }

.img-fluid {
  max-width: 50%; }

.logo {
  font-size: 2rem; }

.jumbotron {
  background-color: #ffbba8;
  padding-top: 10rem; }

.py-7 {
  padding-top: 2rem; }

.btn-color {
  background-color: #e6e6e6; }

.cursos {
  background-color: #ebdece70;
  margin: 5% 0%; }

footer {
  background-color: #ffbba8; }

.padding-icon {
  padding-right: 10px; }

.form-control {
  margin-bottom: 10px; }

.element-right {
  float: right; }

.content-aling-top {
  padding-bottom: 0px;
  padding-top: 50px; }

.float-whatsapp {
  position: fixed;
  bottom: 60px;
  right: 30px;
  width: 80px;
  height: 80px;
  z-index: 99; }

.carosel-center {
  margin-bottom: 5%; }

.text-color {
  color: #ffffff; }

.padding-top {
  padding-top: 10%; }
