$bg-color: #ffbba8;
$header-max-width-lg: 1200px;
$header-max-width-sm: 768px;
$header-max-height-sm: 100px;

@mixin menu_amburgesa_posicion{
  .menu{
    justify-content: end;
   
  }
  
}

@mixin mobile-header {
  
    .logo {
      width: 20%;
      display: inline-block;
  
      img {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
      }
    }
  
    .menu_amburgesa {
      width: 30%;
      display: inline-block;
      text-align: right;
    }
  
    .navbar-collapse {
      transition: all 0.3s ease;
      margin-top: -2%;
      background-color: $bg-color;
      padding-top: 0%;
      }

  }
  
  @media (max-width: 580px) {
    header {
      @include mobile-header;
    }
  }
  @media(max-width: 996px){
    .menu{
      @include menu_amburgesa_posicion;
    }
    .padding-top{
      padding-top: 25%;
    }
  }
 
  
.logo {
    font-size: 2rem;
   
  }

.jumbotron
{
    background-color: $bg-color;
    padding-top: 10rem; 
}
.py-7{
    padding-top: 2rem;
}
.btn-color{
    background-color:  #e6e6e6;
}
.cursos
{
    background-color: #ebdece70;
    margin: 5% 0%;
}
footer {
    background-color:#ffbba8 ;
}

.padding-icon{
    padding-right: 10px;
}


.form-control {
    margin-bottom: 10px;
}

.element-right{
    float: right;
}
.content-aling-top{
    padding-bottom: 0px;
    padding-top: 50px;
}
.float-whatsapp {
    position: fixed;
    bottom: 60px;
    right: 30px;
    width: 80px;
    height: 80px;
    z-index: 99;
  }

  .carosel-center
  {
     
    margin-bottom: 5%;
  }
 .text-color{
    color: #ffffff;
 }
 .padding-top{
    padding-top: 10%;
 }