.py-7{
    padding-top: 2rem;
}
.btn-color{
    background-color:  #e6e6e6;
}

footer {
    background-color:#ffbba8 ;
}
.padding-icon{
    padding-right: 10px;
}


.form-control {
    margin-bottom: 10px;
}

.element-right{
    float: right;
}
.content-aling-top{
    padding-bottom: 0px;
    padding-top: 50px;
}